@model interaktiva20_2.Models.ViewModels.MovieViewModel



@section MyHeader
{
    <header>
        <div class="headerContainer">
            <div class="headerTextContainer">
                <h1>Cineast Movie Database</h1>
                <p>Home for movie lovers</p>
            </div>
            <img class="headerImg" src="/assets/images/hero.jpg">
        </div>
    </header>
}

<div id="anchorTopRated">
<h2>Top Rated Movies</h2>
    @foreach (var movie in Model.TopRatedMovies)
    {
        <!--Carousel from https://css-tricks.com/creating-responsive-touch-friendly-carousels-with-flickity/-->
        <div class="movieContainer">
            <div class="movieCell">
                <img class="ticketImg">
                <div class="movieCellContent">
                    <h3 class="movieNumber">No @Html.DisplayFor(item => movie.MovieNumber)</h3>
                    <h4 class="movieTitle">@Html.DisplayFor(item => movie.Title)</h4>
                    <img src="@Html.DisplayFor(item => movie.Poster)">
                    <p class="cmdbRating">Likes: @Html.DisplayFor(item => movie.NumberOfLikes) | Dislikes: @Html.DisplayFor(item => movie.NumberOfDislikes)</p>
                    <p>Year: @Html.DisplayFor(item => movie.Year)</p>
                    <p>IMDb Rating: @Html.DisplayFor(item => movie.ImdbRating)</p>
                    <div class="plot">
                        <blockquote class="moviePlot">@Html.DisplayFor(item => movie.Plot)</blockquote>
                        <p>Read more</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div id="anchorMostPopular">
<h2>Most Popular Movies</h2>
    @foreach (var movie in Model.MostPopularMovies)
    {
        <div class="movieContainer">
            <div class="movieCell">
                <img class="ticketImg">
                <div class="movieCellContent">
                    <h3 class="movieNumber">No @Html.DisplayFor(item => movie.MovieNumber)</h3>
                    <h4 class="movieTitle">@Html.DisplayFor(item => movie.Title)</h4>
                    <img src="@Html.DisplayFor(item => movie.Poster)">
                    <p class="cmdbRating">Likes: @Html.DisplayFor(item => movie.NumberOfLikes) | Dislikes: @Html.DisplayFor(item => movie.NumberOfDislikes)</p>
                    <p>Year: @Html.DisplayFor(item => movie.Year)</p>
                    <p>IMDb Rating: @Html.DisplayFor(item => movie.ImdbRating)</p>
                    <div class="plot">
                        <blockquote class="moviePlot">@Html.DisplayFor(item => movie.Plot)</blockquote>
                        <p>Read more</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div id="anchorNeverRated">
<h2>Most Disliked Movies</h2>
    @foreach (var movie in Model.NeverRatedMovies)
    {
        <div class="movieContainer">
            <div class="movieCell">
                <img class="ticketImg">
                <div class="movieCellContent">
                    <h3 class="movieNumber">No @Html.DisplayFor(item => movie.MovieNumber)</h3>
                    <h4 class="movieTitle">@Html.DisplayFor(item => movie.Title)</h4>
                    <img src="@Html.DisplayFor(item => movie.Poster)">
                    <p class="cmdbRating">Likes: @Html.DisplayFor(item => movie.NumberOfLikes) | Dislikes: @Html.DisplayFor(item => movie.NumberOfDislikes)</p>
                    <p>Year: @Html.DisplayFor(item => movie.Year)</p>
                    <p>IMDb Rating: @Html.DisplayFor(item => movie.ImdbRating)</p>
                    <div class="plot">
                        <blockquote class="moviePlot">@Html.DisplayFor(item => movie.Plot)</blockquote>
                        <p>Read more</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>