@model interaktiva20_2.Models.ViewModels.MovieViewModel



@section MyHeader
{
    <header>
        <div class="headerContainer">
            <div class="headerTextContainer">
                <h1>Cineast Movie Database</h1>
                <p>Home for movie lovers</p>
            </div>
            <img class="headerImg" src="/assets/images/hero.jpg">
        </div>
    </header>
}

<h2 class="topListHeader">Top Rated Movies</h2>
<div class="topRatedList" id="anchorTopRated">
    @foreach (var movie in Model.TopRatedMovies)
    {
        <div class="movieContainer">
            <div class="movieCell">
                <div class="movieCellContent">
                    <p class="movieNumber">No @Html.DisplayFor(item => movie.MovieNumber)</p>
                    <h4 class="movieTitle">@Html.DisplayFor(item => movie.Title)</h4>
                    <img class="moviePoster" src="@Html.DisplayFor(item => movie.Poster)">
                    
                    <p class="likes" data-like-dislike-text="likes" data-imdbid="@movie.ImdbId">@Html.DisplayFor(item => movie.NumberOfLikes)</p>
                    <p><button class="btnLike" data-btn-type="like" data-imdbid="@movie.ImdbId">Like</button>

                    <p>Year: @Html.DisplayFor(item => movie.Year)</p>
                    <p>IMDb Rating: @Html.DisplayFor(item => movie.ImdbRating)</p>
                    <div class="plot">
                        <p class="moviePlot">@Html.DisplayFor(item => movie.Plot)</p>
                        <div class="readMore"><a class="more"></a></div>
                    </div>
                    @Html.ActionLink("MeraDetaljer", "Index", "MovieDetail", new { imdbid = movie.ImdbId })
                </div>
                <img class="ticketImg" src="~/assets/images/ticket.svg">
            </div>
        </div>
    }
</div>

<h2 class="topListHeader">Most Popular Movies</h2>
<div class="mostPopularList" id="anchorMostPopular">
    @foreach (var movie in Model.MostPopularMovies)
    {
        <div class="movieContainer">
            <div class="movieCell">
                <div class="movieCellContent">
                    <p class="movieNumber">No @Html.DisplayFor(item => movie.MovieNumber)</p>
                    <h4 class="movieTitle">@Html.DisplayFor(item => movie.Title)</h4>
                    <img class="moviePoster" src="@Html.DisplayFor(item => movie.Poster)">
                    <p class="cmdbRating">Likes: @Html.DisplayFor(item => movie.NumberOfLikes) | Dislikes: @Html.DisplayFor(item => movie.NumberOfDislikes)</p>
                    <p>Year: @Html.DisplayFor(item => movie.Year)</p>
                    <p>IMDb Rating: @Html.DisplayFor(item => movie.ImdbRating)</p>
                    <div class="plot">
                        <blockquote class="moviePlot">@Html.DisplayFor(item => movie.Plot)</blockquote>
                        <p>Read more</p>
                    </div>
                </div>
                <img class="ticketImg" src="~/assets/images/ticket.svg">
            </div>
        </div>
    }
</div>

<h2 class="topListHeader">Have You Seen This?</h2>
<div class="neverRatedList" id="anchorNeverRated">
    <p>Never Rated Movies</p>
    @foreach (var movie in Model.NeverRatedMovies)
    {
        <div class="movieContainer">
            <div class="movieCell">
                <div class="movieCellContent">
                    <h4 class="movieTitle">@Html.DisplayFor(item => movie.Title)</h4>
                    <img class="moviePoster" src="@Html.DisplayFor(item => movie.Poster)">
                    <p class="cmdbRating">Likes: @Html.DisplayFor(item => movie.NumberOfLikes) | Dislikes: @Html.DisplayFor(item => movie.NumberOfDislikes)</p>
                    <p>Year: @Html.DisplayFor(item => movie.Year)</p>
                    <p>IMDb Rating: @Html.DisplayFor(item => movie.ImdbRating)</p>
                    <div class="plot">
                        <blockquote class="moviePlot">@Html.DisplayFor(item => movie.Plot)</blockquote>
                        <p>Read more</p>
                    </div>
                </div>
                <img class="ticketImg" src="~/assets/images/ticket.svg">
            </div>
        </div>
    }
</div>