@model interaktiva20_2.Models.ViewModels.MovieViewModel

@section MyAssets
{
    <script src="/assets/js/JavaScriptHome.js?v={random string}" type="module"></script><!--la till ?v={random string} för att tvinga browsern att reloada js varje gång-->
}

@section MyHeader
{
    <header>
        <div class="headerContainer">
            <div class="headerTextContainer">
                <img src="~/assets/images/logga.png" />
                <p>Home for movie lovers</p>
            </div>
            <img class="headerImg" src="/assets/images/hero.jpg">
        </div>
    </header>
}

<main class="content">
    <h2 class="topListHeader" id="anchorTopRated">Top Rated Movies</h2>
    <div class="topRatedList topList">
        @foreach (var movie in Model.TopRatedMovies)
        {
            <div class="movieContainer">
                <p class="movieNumber">No @movie.MovieNumber</p>
                <h4 class="movieTitle">@movie.Title</h4>
                    <img class="moviePoster" src="@movie.Poster">
                <div class="movieCellContent">
                    <div class="movieCellText">
                        <p class="likes" data-like-dislike-text="likes" data-imdbid="@movie.ImdbId">Likes: @movie.NumberOfLikes</p>
                        <p class="dislikes" data-like-dislike-text="dislikes" data-imdbid="@movie.ImdbId">Dislikes: @movie.NumberOfDislikes</p>

                        <button class="btnLike" data-btn-type="like" data-imdbid="@movie.ImdbId"></button>
                        <button class="btnDislike" data-btn-type="dislike" data-imdbid="@movie.ImdbId"></button>

                        <p class="hidden"><b>Year:</b> @movie.Year</p>
                        <p class="hidden"><b>IMDb Rating:</b> @movie.ImdbRating</p>
                        <div class="plot hidden">
                            <p class="moviePlot">@movie.Plot</p>
                            <div class="readMore"><a class="more" data-imdbid="@movie.ImdbId"></a></div>
                        </div>
                        <p class="actionLink">@Html.ActionLink("To Movie Details", "Index", "MovieDetail", new { imdbid = movie.ImdbId })</p>
                    </div>
                </div>
            </div>
        }
    </div>


    <h2 class="topListHeader" id="anchorMostPopular">Most Popular Movies</h2>
    <div class="mostPopularList topList">
        @foreach (var movie in Model.MostPopularMovies)
        {
            <div class="movieContainer">
                <p class="movieNumber">No @movie.MovieNumber</p>
                <h4 class="movieTitle">@movie.Title</h4>
                <img class="moviePoster" src="@movie.Poster">
                <div class="movieCellContent">
                    <div class="movieCellText">
                        <p class="likes" data-like-dislike-text="likes" data-imdbid="@movie.ImdbId">Likes: @movie.NumberOfLikes</p>
                        <p class="dislikes" data-like-dislike-text="dislikes" data-imdbid="@movie.ImdbId">Dislikes: @movie.NumberOfDislikes</p>

                        <button class="btnLike" data-btn-type="like" data-imdbid="@movie.ImdbId"></button>
                        <button class="btnDislike" data-btn-type="dislike" data-imdbid="@movie.ImdbId"></button>

                        <p class="hidden"><b>Year:</b> @movie.Year</p>
                        <p class="hidden"><b>IMDb Rating:</b> @movie.ImdbRating</p>
                        <div class="plot hidden">
                            <p class="moviePlot">@movie.Plot</p>
                            <div class="readMore"><a class="more" data-imdbid="@movie.ImdbId"></a></div>
                        </div>
                        <p class="actionLink">@Html.ActionLink("To Movie Details", "Index", "MovieDetail", new { imdbid = movie.ImdbId })</p>
                    </div>
                </div>
            </div>
        }
    </div>


    <h2 class="topListHeader" id="anchorNeverRated">Have You Seen This?</h2>
    <div class="neverRatedList topList">
        @foreach (var movie in Model.NeverRatedMovies)
        {
            <div class="movieContainer">
                <p class="movieNumber">No @movie.MovieNumber</p>
                <h4 class="movieTitle">@movie.Title</h4>
                <img class="moviePoster" src="@movie.Poster">
                <div class="movieCellContent">
                    <div class="movieCellText">
                        <p class="likes" data-like-dislike-text="likes" data-imdbid="@movie.ImdbId">Likes: @movie.NumberOfLikes</p>
                        <p class="dislikes" data-like-dislike-text="dislikes" data-imdbid="@movie.ImdbId">Dislikes: @movie.NumberOfDislikes</p>

                        <button class="btnLike" data-btn-type="like" data-imdbid="@movie.ImdbId"></button>
                        <button class="btnDislike" data-btn-type="dislike" data-imdbid="@movie.ImdbId"></button>

                        <p class="hidden"><b>Year:</b> @movie.Year</p>
                        <p class="hidden"><b>IMDb Rating:</b> @movie.ImdbRating</p>
                        <div class="plot hidden">
                            <p class="moviePlot">@movie.Plot</p>
                            <div class="readMore"><a class="more" data-imdbid="@movie.ImdbId"></a></div>
                        </div>
                        <p class="actionLink">@Html.ActionLink("To Movie Details", "Index", "MovieDetail", new { imdbid = movie.ImdbId })</p>
                    </div>
                </div>
            </div>
        }
    </div>
</main>
