@model interaktiva20_2.Models.ViewModels.SearchResultViewModel

@section MyHeader
{
    <header>
        <div class="details-headerContainer">
            <h1>Cineast Movie Database</h1>
            <p>Home for movie lovers</p>
        </div>
    </header>
}

<main class="search-result-content">

    <h1>Search Result</h1>

    @{
        if (Model.SearchResult.Search != null)
        {
        <div class="searchPages">
            <div class="detailInlineInfo">
                <p>Total Results:</p>
                <p class="total-search">@Model.SearchResult.totalResults</p>
                <p>Total pages:</p>
                <p class="total-pages">@Model.TotalPages</p>
            </div>

            <div class="search-result-btn-flex">
                <button class="search-result-buttons search-result-first-btn" onclick="location.href='@Url.Action("Index", "SearchResult", new { pageNum = 1, Model.SearchString})'"></button>
                <button class="search-result-buttons search-result-previous-btn" onclick="location.href='@Url.Action("Index", "SearchResult", new { pageNum = (Model.CurrentPage - 1), Model.SearchString})'"></button>
                <button class="search-result-buttons search-result-next-btn" onclick="location.href='@Url.Action("Index", "SearchResult", new { pageNum = (Model.CurrentPage + 1), Model.SearchString})'"></button>
                <button class="search-result-buttons search-result-last-btn" onclick="location.href='@Url.Action("Index", "SearchResult", new { pageNum = Model.TotalPages, Model.SearchString})'"></button>
            </div>

            <div class="detailInlineInfo">
                <p>Current Page:</p>
                <p id="current-page">@Model.CurrentPage</p>
            </div>
        </div>

            foreach (var movie in Model.SearchResult.Search)
            {
                <div class="searchedMovie">
                    <img class="searchPoster" src="@movie.Poster" />
                    <div class="flexitem">
                        <h2>@movie.Title</h2>
                        <p>@movie.Year</p>
                        <a href='@Url.Action("Index", "MovieDetail", new { imdbid = movie.imdbID })'>
                            <div class="movie-details-btn">To details >></div>
                        </a>
                    </div>
                </div>
            }
        }
        else
        {
            <h1 class="search-error">Sorry, no such movie could be found.</h1>
            <p class="search-error">Did you spell the title correctly?</p>
        }
    }
</main>

