<!--Det som ska vara gemensamt på alla sidor-->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cineast Movie Database</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="~/assets/css/StyleReset.css">
    <link href="https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat&family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/StyleShared.css?v={random string}">


    @RenderSection("MyAssets")

    <script src="/assets/js/JavaScriptShared.js?v={random string}" type="module"></script><!--la till ?v={random string} för att tvinga browsern att reloada js varje gång-->
</head>

<body>
    <div class="container">

        @RenderSection("MyHeader")

        <div class="navContainer">
            <nav>
                <ul>
                    <li>@Html.ActionLink("Top Rated Movies", "Index", "Home", null, null, "anchorTopRated", null, null)</li>
                    <li>@Html.ActionLink("Most Popular Movies", "Index", "Home", null, null, "anchorMostPopular", null, null)</li>
                    <li>@Html.ActionLink("Never Rated Movies", "Index", "Home", null, null, "anchorNeverRated", null, null)</li>
                </ul>
            </nav>
        </div>

        <div class="searchContainer">
            <!--Search bar from https://codepen.io/huange/pen/rbqsD-->
            <div class="search">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">
                    <img class="searchIcon" src="~/assets/images/search-icon-white.svg">
                </button>
            </div>
            <!--End of search bar-->
        </div>


        @RenderBody()


        <footer>
            <p>Vi behöver bestämma hur vi vill ha vår footer också</p>
        </footer>
    </div>
    
</body>

</html>