@model interaktiva20_2.Models.ViewModels.MovieDetailViewModel


@section MyHeader
{
    <header>
        <div class="headerContainer">
            <div class="headerTextContainer">
                <h1>Cineast Movie Database</h1>
                <p>Home for movie lovers</p>
            </div>
        </div>
    </header>
}
<div class="movieCell">
    <img class="ticketImg">
    <h2 id="detailTitle">@Html.DisplayFor(item => Model.Title)</h2>
<p class="imdbidHidden">@Model.imdbID</p>
    <div id="cmdbRating">
        <h3 id="movieRating">Rating</h3>
        <h4>Cineast Rating:</h4>
        <p class="snippety">Likes: @Html.DisplayFor(item => Model.NumberOfLikes) | Dislikes: @Html.DisplayFor(item => Model.NumberOfDislikes)</p>

        <p><button class="likeBtn" id="@Model.imdbID">Like</button><button class="dislikeBtn">Dislike</button></p>
        
        <h4>@Html.DisplayNameFor(item => Model.ImdbRating)</h4>
        <p>@Html.DisplayFor(item => Model.ImdbRating)</p>
    </div>
    <img src="@Html.DisplayFor(item => Model.Poster)">
    <div>
        <p>
            <b>@Html.DisplayNameFor(item => Model.Year)</b> @Html.DisplayFor(item => Model.Year) | <b>@Html.DisplayNameFor(item => Model.Runtime)</b> @Html.DisplayFor(item => Model.Runtime) |
            <b>@Html.DisplayNameFor(item => Model.Genre)</b> @Html.DisplayFor(item => Model.Genre) | <b>@Html.DisplayNameFor(item => Model.Language)</b> @Html.DisplayFor(item => Model.Language) | 
            <b>@Html.DisplayNameFor(item => Model.Country)</b> @Html.DisplayFor(item => Model.Country)
        </p>
    </div>
    <div class="detailInlineInfo">
        <h3>@Html.DisplayNameFor(item => Model.Director)</h3>
        <p>@Html.DisplayFor(item => Model.Director)</p>
    </div>
    <div class="detailInlineInfo">
        <h3>@Html.DisplayNameFor(item => Model.Actors)</h3>
        <p>@Html.DisplayFor(item => Model.Actors)</p>
    </div>
    <div class="detailInlineInfo">
        <h3>@Html.DisplayNameFor(item => Model.Awards)</h3>
        <p>@Html.DisplayFor(item => Model.Awards)</p>
    </div>
    <div id="detailPlot">
        <h3>@Html.DisplayNameFor(item => Model.Plot)</h3>
        <p class="movieDetailPlot">@Html.DisplayFor(item => Model.Plot)</p>
    </div>
</div>